/* import breakpoints */
@value header as bp-header from "../../00_global/breakpoints.css";

.inlineSvg {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 24px;
}

@media bp-header {
  .inlineSvg {
    width: 16px;
  }
}
