/* import breakpoints */
@value header as bp-header from "../../00_global/breakpoints.css";

.inlineSvg {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 24px;
}

@media bp-header {
  .inlineSvg {
    width: 16px;
  }
}

.inputIcon {
  cursor: pointer;
  left: 10px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
}

.disableHover {
  pointer-events: none;
}
