{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "Explorer 11"]
        },
        "useBuiltIns": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "babel-plugin-macros",
    [
      "transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
