.button {
  background-color: cyan;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.button:hover {
  background-color: #eee;
}
