/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLight, orange from colors;

.list {
  margin: 6px 0;
  padding: 0;
}

.listItem {
  display: inline;
  padding: 0 0 0 6px;
  text-align: center;
}

.listItem::after {
  color: grayLight;
  content: ' | ';
  font-size: 13px;
}

.listItem:last-child::after {
  content: '';
}

.listLink {
  color: grayLight;
  font-size: 13px;
  line-height: 2;
  padding-right: 6px;
  text-decoration: none;
}

.listLink:hover {
  color: orange;
}
