/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLight, orange, world, studio, globalPost, acrossWomensLives, globalNation, globalSecurity, livablePlanet, takeaway, livingEarth from colors;

.list {
  margin: 6px 0;
  padding: 0;
}

.listItem {
  display: inline;
  padding: 0 0 0 6px;
  text-align: center;
}

.listItem::after {
  color: grayLight;
  content: ' | ';
  font-size: 13px;
}

.listItem:last-child::after {
  content: '';
}

.listLink {
  font-size: 13px;
  line-height: 2;
  padding-right: 6px;
  text-decoration: none;
}

.listLink:hover {
  color: orange;
}

a.world {
  border-left-color: world;
}

a.world:hover {
  background: world;
}

a.studio {
  border-left-color: studio;
}

a.studio:hover {
  background: studio;
}

a.globalPost {
  border-left-color: globalPost;
}

a.globalPost:hover {
  background: globalPost;
}

a.acrossWomensLives {
  border-left-color: acrossWomensLives;
}

a.acrossWomensLives:hover {
  background: acrossWomensLives;
}

a.globalNation {
  border-left-color: globalNation;
}

a.globalNation:hover {
  background: globalNation;
}

a.globalSecurity {
  border-left-color: globalSecurity;
}

a.globalSecurity:hover {
  background: globalSecurity;
  color: black;
}

a.livablePlanet {
  border-left-color: livablePlanet;
}

a.livablePlanet:hover {
  background: livablePlanet;
}

a.livingEarth {
  border-left-color: livingEarth;
}

a.livingEarth:hover {
  background: livingEarth;
}

a.takeaway {
  border-left-color: takeaway;
}

a.takeaway:hover {
  background: takeaway;
}
