/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value heading from fonts;

.textBlock {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  font-size: 1rem;
  border-top: 3px solid #ddd;
}

.textBlock ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.textBlock h4 {
  font-weight: normal;
}

.header {
  font-size: 1rem;
}

.btn {
  font: 1rem heading;
  letter-spacing: 0;
  padding: 0.5rem 0.7rem;
  text-transform: none;
}

.btnIcon {
  height: 13px;
  margin-right: 6px;
  top: 1px;
  width: 12px;
}
