/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value heading from fonts;

.textBlock {
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}

.textBlockAlt {
  padding: 0.75rem;
  text-align: center;
}

.header {
  font-size: 1rem;
  font-weight: normal;
}

.headerAlt {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.body {
  font-size: 0.87rem;
}

.bodyAlt {
  font: 1rem heading;
  margin-bottom: 0.5rem;
}

.btn {
  font: 0.875rem heading;
  letter-spacing: 0;
  padding: 0.5rem 0.7rem;
  text-transform: none;
}

.btnIcon {
  height: 13px;
  margin-right: 6px;
  top: 1px;
  width: 12px;
}
