/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLighter, orange from colors;

/* import breakpoints */
@value header as bp-header, small as bp-small from "../../00_global/breakpoints.css";

.svg {
  fill: currentcolor;
}

.inlineSvg {
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 16px;
}

@define-mixin roundIcon {
  background-color: orange;
  border-radius: 50px;
  height: 20px;
  fill: currentColor;
  width: 20px;
}

.roundIcon {
  @mixin roundIcon;
}
