/* import breakpoints */
@value header as bp-header, small as bp-small from "../../00_global/breakpoints.css";

.svg {
  fill: currentcolor;
}

.inlineSvg {
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 16px;
}

.roundIconLink {
  color: white;
  display: block;
  margin-bottom: 0.5rem;
}

.roundIconLink:hover {
  color: grayLighter;
}

@define-mixin roundIcon {
  background-color: orange;
  border-radius: 18px;
  height: 22px;
  fill: currentColor;
  padding: 1px 1px 0;
  width: 22px;
}
