/* import breakpoints */
@value small as bp-small from "../../00_global/breakpoints.css";

.siteHeader {
  background-color: white;
  border-bottom: 3px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.buttons {
  display: flex;
}

.button {
  margin-left: 0.75em;
}

.newsletterBtn {
  display: none;
}

@media bp-small {
  .newsletterBtn {
    display: flex;
  }
}

/* Menu */
.bg {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -99;
  transform: translateZ(0);
  visibility: hidden;
}

.bgOpen {
  visibility: visible;
  z-index: 99;
}

.menuBtn {
  background: none;
  border: none;
  height: 33px;
  margin-right: 11px;
  padding: 0;
  position: relative;
  top: 3px;
  width: 36px;
}

.mainMenu {
  position: fixed;
  top: 0;
  transform: translateX(-110%);
  transition: 0.3s;
  width: 300px;
  z-index: 100;
}

.mainMenuOpen {
  transform: translateX(0);
}
