/* import breakpoints */
@value small as bp-small, header as bp-header from "../../00_global/breakpoints.css";

.siteHeader {
  background-color: white;
  border-bottom: 3px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.menuIcon {
  color: #4b4b4b;
  cursor: pointer;
  height: 35px;
  float: left;
  width: 41px;
}

.menuIcon:hover {
  color: black;
}

.menuIcon:active {
  opacity: 0.8;
}

.siteLogo {
  pointer-events: none;
  position: relative;
  top: 3px;
  width: 123px;
}

.buttons {
  display: flex;
}

.button {
  margin-left: 0.75em;
}

svg.mobileSmallIcon {
  height: 21px;
  top: 5px;
  width: 21px;
}

@media bp-small {
  svg.mobileSmallIcon {
    height: 24px;
    width: 24px;
  }
}

@media bp-header {
  svg.mobileSmallIcon {
    height: 16px;
    top: 2px;
    width: 16px;
  }
}

.newsletterBtn {
  display: none;
}

@media bp-small {
  .newsletterBtn {
    display: flex;
  }
}

/* Menu */
.bg {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -99;
  transform: translateZ(0);
  visibility: hidden;
}

.bgOpen {
  visibility: visible;
  z-index: 99;
}

.menuBtn {
  background: none;
  border: none;
  height: 33px;
  margin-right: 11px;
  padding: 0;
  position: relative;
  top: 3px;
  width: 36px;
}

.mainMenu {
  height: 100%;
  min-height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  max-width: 360px;
  z-index: 100;
}

.mainMenuOpen {
  transform: translateX(0);
}
