/* import colors... */
@value colors: "../../00_global/colors.css";
@value blue, orange, white, grayLighter, blueLight, grayDark from colors;

/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value heading from fonts;

.dropdownItem,
.dropdownHeading,
.dropdownSpace {
  padding: 0.4rem 1.5rem;
}

.dropdownItem {
  clear: both;
  color: blue;
  display: block;
  font: 400 0.875em heading;
  width: 77%;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: blueLight;
  color: white;
}

.dropdownHeading {
  color: grayDark;
  font: 800 0.875em heading;
  font-weight: bold;
  margin: 0;
}

.dropdownHr {
  border: none;
  height: 1px;
  background-color: grayLighter;
}

.dropdownForm {
  width: 225px;
}
