/* import colors... */
@value colors: "../../00_global/colors.css";
@value white, whiteDark, grayLighter, gray, grayLight, grayDark, grayDarker, orange, orangeDark, orangeDarker, blue, blueMed, blueDark, yellow from colors;
/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value copy from fonts;
/* import breakpoints */
@value header as bp-header from "../../00_global/breakpoints.css";

/* Generic */
@define-mixin btn {
  background-color: whiteDark;
  border: 1px solid grayLighter;
  border-radius: 0.25rem;
  color: grayDark;
  cursor: pointer;
  display: inline-block;
  font: 700 1rem copy;
  letter-spacing: 0.05rem;
  line-height: 2.25;
  margin: 0;
  padding: 0 0.85rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@define-mixin btnWhiteHover {
  background-color: white;
}

@define-mixin btnWhiteActive {
  background-color: grayDark;
  color: white;
}

/* Inherits button always */
.btn,
.btnWhite,
.btnOrange,
.btnDark,
.btnBlue {
  @mixin btn;
}

.btn:hover,
.btnWhite:hover {
  @mixin btnWhiteHover;
}

.btn:active,
.btn[aria-expanded='true'],
.btnWhite:active,
.btnWhite[aria-expanded='true'] {
  @mixin btnWhiteActive;
}

/* Colors */
@define-mixin btnOrange {
  background-color: orange;
  border-color: yellow;
  color: white;
}

@define-mixin btnOrangeHover {
  background-color: orangeDark;
  color: white;
}

@define-mixin btnBlue {
  background-color: blue;
  border: 1px solid blueMed;
  color: white;
}

@define-mixin btnBlueHover {
  background-color: blueMed;
  color: white;
}

.btnOrange {
  @mixin btnOrange;
}

.btnOrange:hover,
.btnOrange:active,
.btnOrange[aria-expanded='true'] {
  @mixin btnOrangeHover;
}

/* Colors */
@define-mixin btnDark {
  background-color: grayDarker;
  border-color: transparent;
  color: white;
}

@define-mixin btnDarkHover {
  background-color: orangeDarker;
  color: white;
}

.btnDark {
  @mixin btnDark;
}

.btnDark:hover,
.btnDark:active,
.btnDark[aria-expanded='true'] {
  @mixin btnDarkHover;
}

/* Colors */
@define-mixin btnBlue {
  background-color: blue;
  border-color: transparent;
  color: white;
}

@define-mixin btnBlueHover {
  background-color: orange;
  color: white;
}

.btnBlue {
  @mixin btnBlue;
}

.btnBlue:hover,
.btnBlue:active,
.btnBlue[aria-expanded='true'] {
  @mixin btnBlueHover;
}

/* Mobile Icon versions */
.btnMobileWhite,
.btnMobileDark {
  color: grayLight;
}

.btnMobileWhite:hover {
  color: grayDark;
}

.btnMobileOrange {
  color: orange;
}

.btnMobileBlue {
  color: blue;
}

@media bp-header {
  .btnMobileWhite,
  .btnMobileOrange,
  .btnMobileDark,
  .btnMobileBlue {
    @mixin btn;
  }

  .btnMobileWhite:hover {
    @mixin btnWhiteHover;
  }

  .btnMobileWhite:active,
  .btnMobileWhite[aria-expanded='true'] {
    @mixin btnWhiteActive;
  }

  .btnMobileOrange {
    @mixin btnOrange;
  }

  .btnMobileBlue {
    @mixin btnBlue;
  }

  .btnMobileOrange:hover,
  .btnMobileOrange:active,
  .btnMobileOrange[aria-expanded='true'] {
    @mixin btnOrangeHover;
  }

  .btnMobileDark {
    @mixin btnDark;
  }

  .btnMobileDark:hover,
  .btnMobileDark:active,
  .btnMobileDark[aria-expanded='true'] {
    @mixin btnDarkHover;
  }

  .btnMobileBlue {
    @mixin btnBlue;
  }

  .btnMobileBlue:hover,
  .btnMobileBlue:active,
  .btnMobileBlue[aria-expanded='true'] {
    @mixin btnBlueHover;
  }
}

/* Input Specific */
.inputWrap {
  position: relative;
}

svg.inputIcon {
  cursor: pointer;
  left: 10px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
}

.inputBtn {
  @composes: btnWhite;
}

.inputWithIcon {
  padding: 0.375rem 0.85rem 0.375rem 2rem;
}

.inputWithIcon:active {
  background-color: grayLighter;
  color: grayDark;
}

/* Buttons in children */
@define-mixin btnSmall {
  font: 0.875rem 'Raleway', sans-serif;
  letter-spacing: 0;
  padding: 0.5rem 0.7rem;
  text-transform: none;
}

.btnWrap input[type='submit'] {
  @mixin btn;
  @mixin btnOrange;
  @mixin btnSmall;
}

.btnWrap input[type='submit']:hover {
  @mixin btnOrangeHover;
}
