/* import colors... */
@value colors: "../../00_global/colors.css";
@value white, whiteDark, grayLighter, gray, grayLight, grayDark, orange, orangeDark from colors;
/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value copy from fonts;
/* import breakpoints */
@value header as bp-header from "../../00_global/breakpoints.css";

/* Generic */
@define-mixin btn {
  background-color: whiteDark;
  border: 1px solid grayLighter;
  border-radius: 0.25rem;
  color: grayDark;
  cursor: pointer;
  display: inline-block;
  font: 700 1rem copy;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  padding: 0.375rem 0.85rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@define-mixin btnWhiteHover {
  background-color: white;
}

@define-mixin btnWhiteActive {
  background-color: grayDark;
  color: white;
}

/* Inherits button always */
.btn,
.btnWhite,
.btnOrange {
  @mixin btn;
}

.btn:hover,
.btnWhite:hover,
.btnMobileWhite:hover {
  @mixin btnWhiteHover;
}

.btn:active,
.btn[aria-expanded='true'],
.btnWhite:active,
.btnWhite[aria-expanded='true'],
.btnMobileWhite:active,
.btnMobileWhite[aria-expanded='true'] {
  @mixin btnWhiteActive;
}

/* Colors */
@define-mixin btnOrange {
  background-color: orange;
  border: none;
  color: white;
}

@define-mixin btnOrangeHover {
  background-color: orangeDark;
}

.btnOrange {
  @mixin btnOrange;
}

.btnOrange:hover,
.btnOrange:active,
.btnOrange[aria-expanded='true'] {
  @mixin btnOrangeHover;
}

/* Mobile Icon versions */
.btnMobileWhite {
  color: grayLight;
}

.btnMobileOrange {
  color: orange;
}

.btnOrange:hover {
  background: none;
}

@media bp-header {
  .btnMobileWhite,
  .btnMobileOrange {
    @mixin btn;
  }
}

@media bp-header {
  .btnMobileOrange {
    @mixin btnOrange;
  }

  .btnMobileOrange:hover,
  .btnMobileOrange:active,
  .btnMobileOrange[aria-expanded='true'] {
    @mixin btnOrangeHover;
  }
}

.textLabelMobile {
  display: none;
}

@media bp-header {
  .textLabelMobile {
    display: inline-block;
  }
}
