/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLighter, grayDark from colors;
/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value copy from fonts;

.outerWrap {
  background: grayLighter;
  color: grayDark;
  font-family: copy;
}

.drawerBg {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4000;
  opacity: 0.001;
  transform: translateZ(0);
  visibility: hidden;
}
