/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLighter, grayDark, blue, gray, orange from colors;

/* import breakpoints */
@value min as bp-phone, header as bp-tablet from "../../00_global/breakpoints.css";

.cardItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grayLighter;
}

.cardItem:last-of-type {
  border-bottom: none;
}

.cardItem.normal,
.cardItem.freeform {
  padding: 1rem;
}

.cardItem.large {
  padding: 0 0 2rem;
}

.image {
  display: none;
  line-height: 0;
}

.img {
  width: 100%;
}

.cardItem.large .image {
  display: block;
}

.cardItem.large .titleWrap {
  margin-top: 1rem;
  padding: 0 1rem;
}

.cardItem.normal .titleWrap {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.25rem;
  margin: 0;
}

.cardItem.freeform .title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: grayDark;
}

.cardItem.freeform .link {
  color: blue;
  text-decoration: none;
}

.blurb {
  display: none;
}

.cardItem.freeform .blurb {
  display: block;
}

.blurb h2 {
  font-size: 1.5rem;
}

.blurb h2 a,
.link {
  color: gray;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.blurb a {
  text-decoration: none;
}

.blurb a:hover {
  color: orange;
}

.blurb p {
  margin-top: 1rem;
}

.iconLink {
  color: white;
  position: relative;
}

.iconLink:hover {
  color: grayLighter;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: top;
  margin-right: 0.25em;
}

@media bp-phone {
  .cardItem.normal {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 40% auto;
    grid-column-gap: 1rem;
    grid-template-areas: 'IMAGE TITLE';
  }

  .image {
    display: block;
  }

  .cardItem.normal .image {
    grid-area: IMAGE;
  }

  .cardItem.normal .titleWrap {
    grid-area: TITLE;
    align-self: center;
  }

  .cardItem.normal .title {
    font-size: 1.2rem;
  }
}

@media bp-tablet {
  .cardItem.normal {
    grid-row-gap: 0.5rem;
    grid-template-areas:
      'IMAGE TITLE'
      'IMAGE BLURB';
  }

  .cardItem.normal .titleWrap {
    align-self: end;
  }

  .title {
    font-size: 1.5rem;
  }

  .blurb {
    display: block;
  }

  .blurb h2 {
    font-size: 1.75rem;
  }

  .cardItem.normal .blurb {
    grid-area: BLURB;
    align-self: start;
    margin: 0;
  }

  .cardItem.large .blurb {
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
