/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLighter, grayDark, blue, gray, orange from colors;

/* import breakpoints */
@value min as bp-phone, header as bp-tablet from "../../00_global/breakpoints.css";

.cardItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grayLighter;
}

.cardItem:last-of-type {
  border-bottom: none;
}

.cardItem {
  padding: 1rem;
}

.cardItem > * + * {
  margin-top: 1rem;
}

.image {
  display: none;
  line-height: 0;
}

.img {
  width: 100%;
}

.titleWrap {
  margin-top: 0;
}

.title {
  font-size: 1.1rem;
  margin: 0;
}

.blurb {
  display: none;
  line-height: 1.3;
}

.cardItem.large {
  padding-bottom: 2rem;
}

.cardItem.large .titleWrap {
  margin-top: 1rem;
}

.cardItem.large .image {
  display: block;
  margin: -1rem -1rem 0;
}

.cardItem.freeform {
  display: flex;
  flex-direction: column;
}

.cardItem.freeform .titleWrap {
  margin-top: 1rem;
}

.cardItem.freeform .blurb {
  display: block;
}

.cardItem.freeform .links {
  margin: 1rem -1rem -1rem;
}

.blurb h2 {
  font-size: 1.1rem;
}

.blurb h2 a,
.link {
  color: gray;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.blurb a {
  text-decoration: none;
}

.blurb a:hover {
  color: orange;
}

.blurb p {
  margin-top: 1rem;
}

.blurb :last-child {
  margin-bottom: 0;
}

.iconLink {
  color: white;
  position: relative;
}

.iconLink:hover {
  color: grayLighter;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: top;
  margin-right: 0.25em;
}

.linksItem {
  margin: 0;
  padding: 10px 20px;
  list-style: none;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
}

.linksLink {
  font-weight: bold;
  text-decoration: underline;
}

@media bp-phone {
  .cardItem {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 1rem;
    grid-template-areas: 'IMAGE TITLE';
  }

  .image {
    display: block;
  }

  .cardItem .image {
    grid-area: IMAGE;
  }

  .cardItem .titleWrap {
    grid-area: TITLE;
  }

  .cardItem .title {
    font-size: 1.1rem;
  }

  .cardItem.large {
    grid-template-areas:
      'IMAGE IMAGE'
      'TITLE TITLE';
  }

  .cardItem.large .titleWrap {
    margin-top: 0;
  }

  .cardItem.noImage {
    grid-template-areas: 'TITLE TITLE';
  }
}

@media bp-tablet {
  .cardItem {
    grid-template-areas:
      'IMAGE TITLE'
      'IMAGE BLURB';
  }

  .cardItem.large {
    grid-template-areas:
      'IMAGE IMAGE'
      'TITLE TITLE'
      'BLURB BLURB';
  }

  .cardItem.noImage {
    grid-template-areas:
      'TITLE TITLE'
      'BLURB BLURB';
  }

  .title {
    font-size: 1.5rem;
  }

  .blurb {
    display: block;
  }

  .cardItem:not(.freeform) .titleWrap {
    align-self: end;
  }

  .cardItem:not(.freeform) .blurb {
    grid-area: BLURB;
    align-self: start;
    margin: 0;
  }

  .cardItem.freeform.noImage .title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: grayDark;
  }

  .cardItem.freeform.noImage .link {
    color: blue;
    text-decoration: none;
  }
}
