/* import colors... */
@value colors: "../../00_global/colors.css";
@value grayLighter, grayDark, blue, gray, orange from colors;

/* import breakpoints */
@value min as bp-min from "../../00_global/breakpoints.css";

.cardItem {
  border-bottom: 1px solid grayLighter;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.cardItemLg {
  padding: 0 0 2rem;
}

@media bp-min {
  .titleWrap {
    flex: 0 1 63%;
    margin-right: 4%;
  }
}

.titleWrapLg {
  flex: 0 1 100%;
  margin-right: 0;
  padding: 1rem 1rem 0;
}

.title {
  font-size: 1.5rem;
}

.blurb h2 a,
.link {
  color: gray;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.image {
  margin: 0;
  flex: 0 1 30%;
  margin-left: 3%;
}

.imageLg {
  flex: 0 1 100%;
  order: -1;
  margin-left: 0;
}

.img {
  display: none;
}

@media bp-min {
  .img {
    display: block;
  }
}

.imgLg {
  display: block;
  width: 100%;
}

.blurb {
  flex: 0 1 100%;
  margin-top: 1rem;
}

.blurbLg {
  padding: 0 1rem;
}

.blurb a {
  text-decoration: none;
}

.blurb a:hover {
  color: orange;
}

.blurb p {
  margin-top: 1rem;
}

.iconLink {
  color: white;
  position: relative;
}

.iconLink:hover {
  color: grayLighter;
}

.icon {
  left: 3px;
  position: absolute;
  top: 1px;
}
