/* import colors... */
@value colors: "../../00_global/colors.css";
@value gray, orange, white, grayLighter, grayDark from colors;

/* import breakpoints */
@value medium as bp-medium from "../../00_global/breakpoints.css";

/* import stratas */
@value strataUi from "../../00_global/stratas.css";

@define-mixin prompt {
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: gray;
  color: grayLighter;
  text-align: center;
}

@define-mixin loadUnderBtn {
  padding: 0 0.27rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  white-space: nowrap;
}

.announcement {
  @mixin prompt;
  background-color: grayLighter;
  color: gray;
}

.pushDown {
  @mixin prompt;

  display: none;
}

.loadUnder {
  @mixin prompt;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: calc(strataUi - 1);

  padding: 4px 42px;
  border-top: 2px solid orange;
}

.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px;
  background: none;
  border: none;

  color: currentColor;

  cursor: pointer;
}

.close:hover {
  color: orange;
}

.announcement .content {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.logo {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 900;
}

.announcement .title {
  font-size: 1.2rem;
  text-align: left;
}

.description {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.announcement .description {
  display: grid;
  grid-template-columns: auto minmax(33.33%, 200px);
  grid-template-areas:
    'TEXT'
    'NAV';
  color: grayDark;
  text-align: left;
}

.announcement .description p,
.pushDown .description p {
  display: none;
}
.announcement .description p {
  grid-area: TEXT;
}

.description em,
.description i {
  font-style: italic;
}

.description a {
  border-bottom: 1px dotted currentColor;
  font-weight: bold;
  text-decoration: none;
}

.description a:hover {
  border-bottom: none;
}

.announcement .description ul {
  grid-area: NAV;
}

.announcement .description ul li {
  margin-bottom: 5px;
}

.announcement .description img {
  grid-area: IMAGE;
  display: none;
}

.actions {
  clear: both;
}

.actions * + * {
  margin-left: 1rem;
}

.loadUnder .content > * {
  display: inline-block;
  margin-bottom: 0;
}

.loadUnder .content > * + * {
  margin-left: 0.5rem;
}

.loadUnder .title {
  font-size: 1.19rem;
}

.loadUnder .close {
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
}

.loadUnder .logo,
.loadUnder .close {
  display: none;
}

.loadUnder .logo + * {
  margin-left: 0;
}

.loadUnder .actions {
  display: block;
  margin: 10px auto;
}

.loadUnder .actions > * {
  margin: 0.5rem 0.5rem;
}

.loadUnder .actionBtn,
.loadUnder .dismissBtn {
  @mixin loadUnderBtn;
}

@media bp-medium {
  .announcement,
  .pushDown {
    display: block;
    padding: 35px 55px;
  }

  .announcement .description {
    grid-template-areas:
      'TEXT IMAGE'
      'NAV IMAGE';
  }

  .announcement .description p,
  .announcement .description img,
  .pushDown .description p,
  .pushDown .description img {
    display: block;
  }

  .title {
    font-size: 1.5rem;
  }

  .announcement .description ul li {
    display: inline;
    list-style: none;
  }

  .announcement .description ul li + li:before {
    content: ' | ';
  }

  .loadUnder .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  .loadUnder .actions {
    display: inline-block;
    margin: 0 0 0 0.5rem;
  }

  .loadUnder .dismissBtn {
    display: none;
  }

  .loadUnder .close {
    display: block;
  }
}
