/* import colors... */
@value colors: "../../00_global/colors.css";
@value whiteDark, gray, grayLighter, grayDark, orange, orangeDark, blue, yellow, green, blueLight from colors;

/* import fonts... */
@value fonts: "../../00_global/fonts.css";
@value heading from fonts;

@value linkHeight: 2rem;

:root {
  --card-theme-color: blueLight;
  --card-text-color: white;
  --accordion-item-count: 0;
}

.accordionItem {
  transition: 0.4s;
  display: flex;
  flex-direction: column;

  margin: 0;

  background: whiteDark;

  border: none;
  border-left: 3px solid var(--card-theme-color);
  border-radius: 0;
}

.accordionItem:last-of-type .accordionContent {
  box-shadow: inset 0 -1px 0 #ddd;
}

.accordionItem:last-of-type .accordionTopLink {
  border-bottom: 1px solid #ddd;
}

/* .accordionItem:last-child {
  border-bottom: 1px solid #ddd;
} */

.accordionItemBlue,
.accordionContentMenuLinkBlue {
  --card-theme-color: blueLight;
}

.accordionItemYellow,
.accordionContentMenuLinkYellow {
  --card-theme-color: yellow;
  --card-text-color: black;
}

.accordionItemGreen,
.accordionContentMenuLinkGreen {
  --card-theme-color: green;
}

.accordionItemOrange,
.accordionContentMenuLinkOrange {
  --card-theme-color: orange;
}

.accordionTop {
  margin: 0;
  padding: 0;

  box-shadow: inset 0 1px 0 #ddd;

  border: none;
  border-radius: 0;
}

.accordionTopHeading {
  margin: 0;
}

.accordionTopLink {
  display: block;

  padding: 10px 42px 10px 15px;

  border: 1px solid #ddd;
  border-left: none;
  border-bottom: none;

  color: grayDark;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
}

.accordionTopLinkOpen,
.accordionTopLink:hover {
  background-color: var(--card-theme-color);
  color: var(--card-text-color);
  border-color: var(--card-theme-color) !important;
  box-shadow: none;
}

.iconDown {
  fill: currentcolor;
  float: right;
  margin-right: -30px;
  margin-top: -4px;
  transition: transform 300ms ease-out;
  transform: rotate(-90deg);
}

.iconUp {
  transform: rotate(90deg);
}

.accordionContent {
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  background: white;
}

.accordionContentOpen {
  max-height: calc(
    var(--accordion-item-count) * linkHeight + (var(--accordion-item-count) - 1) *
      1px
  );
}

.accordionContentMenu {
  margin: 0;
  padding: 0;
}

.accordionContentMenuItem {
  display: block;

  padding: 0;

  text-align: left;
  line-height: 1.1;

  list-style: none;
}

.accordionContentMenuItem::after {
  content: '';
}

.accordionContentMenuItem
  + .accordionContentMenuItem
  .accordionContentMenuLink {
  border-top: 1px dotted grayLighter;
}

.accordionContentMenuLink {
  display: block;

  padding: 0 15px;

  border: none;
  border-top: 1px solid transparent;
  border-right: 1px solid #ddd;

  color: blue;
  font: 0.875rem heading;
  line-height: linkHeight;
}

.accordionContentMenuLink:hover {
  background-color: var(--card-theme-color);
  color: var(--card-text-color);
  border-top-style: solid !important;
  border-color: var(--card-theme-color);
}
